@charset "UTF-8";

/*
em HTML é id = em CSS é #
em HTML é class = em CSS é .
*/

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4, 109, 0);
}

h1#principal {
    text-align: center;
}

h2 {
    color: rgb(73, 109, 71);
}

.basico {
    color: rgb(70, 136, 70);
}

.intermediario {
    color: rgb(125, 125, 59);
}

.avancado {
    color: rgb(130, 60, 60);
}

.destaque {
    background-color: azure;
}
